/* Retrait du margin et du padding des éléments utilisés dans le site*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
}
/* Header */
header {
  display: flex;
}
header div:first-child {
  margin-left: 30px;
  flex-grow: 0.5;
}
header div:last-child {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  /* Menu */
}
header div:last-child ul,
header div:last-child ul li {
  display: flex;
}
header div:last-child ul li {
  padding: 0 10px;
}
