/* Retrait du margin et du padding des éléments utilisés dans le site*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
}
/* Propriétés pour le site*/
body {
  margin: 0;
  font-family: Roboto;
}
h1 {
  font-size: 2em;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:hover {
  font-weight: bold;
}
/* En-tête et pied de page*/
header,
footer {
  height: 50px;
  display: flex;
  align-items: center;
}
/* En-tête */
header {
  background-color: #111111;
  color: white;
}
header div:first-child {
  margin-left: 30px;
  flex-grow: 0.5;
}
header div:last-child {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  /* Menu */
}
header div:last-child ul {
  margin-right: 30px;
}
header div:last-child ul,
header div:last-child ul li {
  display: flex;
}
header div:last-child ul li {
  padding: 0 10px;
}
/* Pied de page */
footer {
  background-color: #333333;
  color: white;
  justify-content: center;
}
/* Contenu de la page d'accueil*/
#contenu {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contenu h1 {
  font-size: 3em;
}
