/* Retrait du margin et du padding des éléments utilisés dans le site*/
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

ul, li {
	margin: 0;
	padding: 0;
}

/* Propriétés pour le site*/
body {
	margin: 0;
	font-family: Roboto;
}

h1 {
	font-size: 2em;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

a:hover {
	font-weight: bold;
}

/* En-tête et pied de page*/
header, footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* En-tête */
header {
	width: 250px;
	height: 100vh;
	float: left;
	background-color: black;
	color: white;

	h1 {
		font-size: 1.7em;
	}

	div:first-child {
		display: flex;
		align-items: center;
		flex-grow: 0.5;
	}

	div:last-child {
		flex-grow: 2;
		display: flex;
		justify-content: flex-end;
		
		/* Menu */
		ul {
			margin-right: 30px;
		}

		ul, ul li {
			display: flex;
			flex-direction: column;
		}

		ul li {
			padding: 0 10px;
		}
	}
}

/* Pied de page */
footer {
	height: 50px;
	background-color: #333333;
	color: white;
	justify-content: center;
}

/* Contenu de la page d'accueil*/
#contenu {
	background-color: white;
	height: ~"calc(100vh - 50px)";
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	div {
		margin-top: 50px;
	}

	h1 {
		font-size: 3em;
	}
}
